<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Hanami Restaurant</title>
  </head>
  <body>

<div class="bgimg-1" >
  <div class="caption">
    <!-- <span class="border">Hanami</span> -->
  </div>
</div>
<div class="row">
<div class="col-md-8" id="super_menu_one" >
  <div id="main_div_venue"  class="colortitle" style="display: none;"><h2>за ресторанта</h2>
  <!-- <div id="textdiv"> -->
  <p>В ресторант „Ханами” може да се потопите в елегантна и изтънчена обстановка характеризираща се със семплата и изчистена визия на японския стил. Кухнята е интернационална, а в менюто предлагаме кулинарни ястия от близо и далеч, като акцентираме на здравословната храна приготвена с любов.Датекс подписа лицензионно споразумение с Apple, което ни дава правото да произвежда устройства, които са преминали MFi (Made for iPod, iPhone, iPad) сертификация.  </p>
<!--   </div> -->
</div>
</div>
</div>
<div class="col-md-8"  >
<div class="plan" id="building">

<img id="IMGMAPS" src="/assets/plan.png" usemap="#planmap" alt="" />
<map name="planmap" id="IMGMAPS">
  <area class="plan_class" data-imageurl="/assets/plan1.png" shape="poly"  coords="653,190,653,25,377,25,377,0,680,0,680,190,653,190,573,190,573,350,420,350,420,435,377,435,377,460,680,460,680,267,653,267,653,190" href="#" alt="table" id="#room_one" tyle="outline:none;" >

  <area class="plan_class" shape="rect"   data-imageurl="/assets/plan2.png" coords="493,25,653,190" href="#" alt="sofa" id="#room_two" tyle="outline:none;">

  <area class="plan_class" shape="poly"  data-imageurl="/assets/plan3.png" coords="0,460,0,0,302,0,302,25,260,25,260,435,302,435,302,460" href="#" alt="bed" id="#room_three" tyle="outline:none;">
  <area class="plan_class" shape="poly"  data-imageurl="/assets/plan4.png" coords="260,25,380,25,380,110,340,110,340,190,260,190,260,25" href="#" alt="bed" id="#room_four" tyle="outline:none;">

  <area class="plan_class" shape="poly"  data-imageurl="/assets/plan5.png" coords="493,190,573,190,573,350,302,350,302,432,260,432,260,270,493,270" href="#" alt="bed" id="#room_five" tyle="outline:none;">

   <area class="plan_class" shape="rect"  data-imageurl="/assets/plan6.png" coords="260,190,420,270" href="#" alt="bed" id="#room_six" tyle="outline:none;">

     <area class="plan_class" shape="rect"  data-imageurl="/assets/plan7.png" coords="420,110,493,270" href="#" alt="bed" id="#room_seven" tyle="outline:none;">

      <area class="plan_class" shape="rect"  data-imageurl="/assets/plan8.png" coords="380,25,493,110" href="#" alt="bed" id="#room_eight" tyle="outline:none;">

         <area class="plan_class" shape="rect"  data-imageurl="/assets/plan9.png" coords="340,110,420,190" href="#" alt="bed" id="#room_nine" tyle="outline:none;">

            <area class="plan_class" shape="rect"  data-imageurl="/assets/plan10.png" coords="300,350,420,435" href="#" alt="bed" id="#room_ten" tyle="outline:none;">
  
  
</map>
  </div>
</div>


  <div class="row" id="change_content">
<div class="col-md-8" >
  <div id="plan_id" > <h2>план на етажа</h2>
  <p>
 Този март навършихме 25 години! Изминалият четвърт век ни преобрази от малка фирма в голяма, иновативна и високо-технологично компания. Бихме искали да изкажем дълбоката си благодарност и признателност към всички настоящи и минали партньори, клиенти, колеги и приятели. Без Вас нямаше да сме това, което сме днес. Наздраве! Този юни посрещнахме чуждестранните ни партньори в Бургас, където организирахме различни мероприятия. Искаме да благодарим на всички, които отделиха малка част от ценното си време за нас.

 </p>
</div>
</div>
<div style="display: none;">
    <%= render 'layouts/content' %> 
    <p id="hidden_p"></p>
  </div>
  </div>



<div class="bgimg-3" id="terrace">
  <div class="caption">
  <!--   <span class="borderDat">Datecs</span> -->
  </div>
</div>
<div class="row" id="change_content">
  <div class="col-md-8"  >
 
  <div id="terrace_div" style="display: none;"> <h2>terrace</h2>

<p>
Ruby on Rails, or simply Rails, is a server-side web application framework written in Ruby under the MIT License. Rails is a model–view–controller (MVC) framework, providing default structures for a database, a web service, and web pages. It encourages and facilitates the use of web standards such as JSON or XML for data transfer, and HTML, CSS and JavaScript for display and user interfacing. In addition to MVC, Rails emphasizes the use of other well-known software engineering patterns and paradigms, including convention over configuration (CoC), don't repeat yourself (DRY), and the active record pattern.[4] </p>
</div>
</div>
</div>
<div class="bgimg-4" id="bar">
  <div class="caption">
  <!--   <span class="borderDat">Datecs</span> -->
  </div>
</div>
<div class="row" id="change_content">
  <div class="col-md-8" >
       

  <div id="bar_div" style="display: none;"> <h2>bar</h2>
<p>
AngularJS (commonly referred to as "Angular.js" or "AngularJS 1.X") is a JavaScript-based open-source front-end web application framework mainly maintained by Google and by a community of individuals and corporations to address many of the challenges encountered in developing single-page applications. The JavaScript components complement Apache Cordova, the framework used for developing cross-platform mobile apps. It aims to simplify both the development and the testing of such applications by providing a framework for client-side model–view–controller (MVC) and model–view–viewmodel (MVVM) architectures, along with components commonly used in rich Internet applications. In 2014, the original AngularJS team began working on Angular (Application Platform). </p>
  </div>
</div>
</div>
<div class="bgimg-5" id="main_area">
  <div class="caption">
    <!-- <span class="borderDat">Datecs</span> -->
  </div>
</div>
       
 <div class="row" id="change_content">
  <div class="col-md-8" >
       

  <div id="main_area_div" style="display: none;"> <h2 id="m_area">main area</h2>
<p>
A controller is a server-side component of Rails that responds to external requests from the web server to the application, by determining which view file to render. The controller may also have to query one or more models for information and pass these on to the view. For example, in an airline reservation system, a controller implementing a flight-search function would need to query a model representing individual flights to find flights matching the search, and might also need to query models representing airports and airlines to find related secondary data. The controller might then pass some subset of the flight data to the corresponding view, which would contain a mixture of static HTML and logic that use the flight data to create an HTML document containing a table with one row per flight. A controller may provide one or more actions. In Ruby on Rails, an action is typically a basic . </p>
  </div>

  </div>
</div>
<div class="bgimg-6" id="super_menu_two">
  <div class="caption">
   <!--  <span class="borderDat">Datecs</span> -->
  </div>
</div>
       
 <div class="row">
<div class="col-md-8" >
  <div id="main_div_food"  class="colortitle" style="display: none;"><h2>food</h2>
  <!-- <div id="textdiv"> -->
  <p>В ресторант „Ханами” може да се потопите в елегантна и изтънчена обстановка характеризираща се със семплата и изчистена визия на японския стил. Кухнята е интернационална, а в менюто предлагаме кулинарни ястия от близо и далеч, като акцентираме на здравословната храна приготвена с любов. Специално селектираните вина и приготвени ястия съчетани с отличното обслужване са способни да накарат всеки клиент да се почувства специален. Ресторант „Ханами” е разположен в новата бизнес сграда на фирма „Датекс” в Дружба 1 на последния етаж с прекрасна гледка към Витоша. Ресторанта разполага с 180 седящи места и може да осигури провеждането на коктейли над 250 човека. Капацитета и обстановката на ресторанта го правят подходящо място за провеждане на сватбени тържества, коктейли, гала-вечери, банкети, семейни и фирмени тържества, сватби, рожденни дни.</p>
<!--   </div> -->
</div>
</div>
</div>
<div class="bgimg-7" id="regular">
  <div class="caption">
   <!--  <span class="borderDat">Datecs</span> -->
  </div>
</div>
       
 <div class="row" id="change_content">
  <div class="col-md-8">
       

  <div id="regular_div" style="display: none;"> <h2>regular</h2>
<p>
A controller is a server-side component of Rails that responds to external requests from the web server to the application, by determining which view file to render. The controller may also have to query one or more models for information and pass these on to the view. For example, in an airline reservation system, a controller implementing a flight-search function would need to query a model representing individual flights to find flights matching the search, and might also need to query models representing airports and airlines to find related secondary data. The controller might then pass some subset of the flight data to the corresponding view, which would contain a mixture of static HTML and logic that use the flight data to create an HTML document containing a table with one row per flight. A controller may provide one or more actions. In Ruby on Rails, an action is typically a basic . </p>
  </div>

  </div>
</div>
<div class="bgimg-8" id="wedding_menu">
  <div class="caption">
  <!--   <span class="borderDat">Datecs</span> -->
  </div>
</div>
       
 <div class="row" id="change_content">
  <div class="col-md-8" >
       

  <div id="wedding_menu_div" style="display: none;"> <h2>wedding menu</h2>
<p>
A controller is a server-side component of Rails that responds to external requests from the web server to the application, by determining which view file to render. The controller may also have to query one or more models for information and pass these on to the view. For example, in an airline reservation system, a controller implementing a flight-search function would need to query a model representing individual flights to find flights matching the search, and might also need to query models representing airports and airlines to find related secondary data. The controller might then pass some subset of the flight data to the corresponding view, which would contain a mixture of static HTML and logic that use the flight data to create an HTML document containing a table with one row per flight. A controller may provide one or more actions. In Ruby on Rails, an action is typically a basic . </p>
  </div>

  </div>
</div>
<div class="bgimg-9" id="super_menu_three">
  <div class="caption">
  <!--   <span class="borderDat">Datecs</span> -->
  </div>
</div>
<div class="row">
<div class="col-md-8" >
  <div id="main_div_ideas" class="colortitle" style="display: none;"><h2>ideas</h2>
  <!-- <div id="textdiv"> -->
  <p>В ресторант „Ханами” може да се потопите в елегантна и изтънчена обстановка характеризираща се със семплата и изчистена визия на японския стил. Кухнята е интернационална, а в менюто предлагаме кулинарни ястия от близо и далеч, като акцентираме на здравословната храна приготвена с любов. Специално селектираните вина и приготвени ястия съчетани с отличното обслужване са способни да накарат всеки клиент да се почувства специален. Ресторант „Ханами” е разположен в новата бизнес сграда на фирма „Датекс” в Дружба 1 на последния етаж с прекрасна гледка към Витоша. Ресторанта разполага с 180 седящи места и може да осигури провеждането на коктейли над 250 човека. Капацитета и обстановката на ресторанта го правят подходящо място за провеждане на сватбени тържества, коктейли, гала-вечери, банкети, семейни и фирмени тържества, сватби, рожденни дни.</p>
<!--   </div> -->
</div>
</div>
</div>
<div class="bgimg-10" id="yours">
  <div class="caption">
    <!-- <span class="borderDat">Datecs</span> -->
  </div>
</div>
       
 <div class="row" id="change_content">
  <div class="col-md-8" >
       

  <div id="yours_div" style="display: none;"> <h2>yours</h2>
<p>
A controller is a server-side component of Rails that responds to external requests from the web server to the application, by determining which view file to render. The controller may also have to query one or more models for information and pass these on to the view. For example, in an airline reservation system, a controller implementing a flight-search function would need to query a model representing individual flights to find flights matching the search, and might also need to query models representing airports and airlines to find related secondary data. The controller might then pass some subset of the flight data to the corresponding view, which would contain a mixture of static HTML and logic that use the flight data to create an HTML document containing a table with one row per flight. A controller may provide one or more actions. In Ruby on Rails, an action is typically a basic
 </p>
  </div>

  </div>
</div>
<div class="bgimg-11" id="mine">
  <div class="caption">
   <!--  <span class="borderDat">Datecs</span> -->
  </div>
</div>
       
 <div class="row" id="change_content">
  <div class="col-md-8" >
       

  <div id="mine_div" style="display: none;"> <h2>mine</h2>
<p>
A controller is a server-side component of Rails that responds to external requests from the web server to the application, by determining which view file to render. The controller may also have to query one or more models for information and pass these on to the view. For example, in an airline reservation system, a controller implementing a flight-search function would need to query a model representing individual flights to find flights matching the search, and might also need to query models representing airports and airlines to find related secondary data. The controller might then pass some subset of the flight data to the corresponding view, which would contain a mixture of static HTML and logic that use the flight data to create an HTML document containing a table with one row per flight. </p>
  </div>

  </div>
</div>
<div class="bgimg-12" id="super_menu_four">
  <div class="caption">
   <!--  <span class="borderDat">Datecs</span> -->
  </div>
</div>
<div class="row">
<div class="col-md-8" >
  <div id="main_div_plan"  class="colortitle" style="display: none;"><h2>запитвания</h2>
  <!-- <div id="textdiv"> -->
 <div class="col-md-6">
<div class="skinny_wrapper wrapper_padding">
<%= form_for @contact do |f| %>
<%= f.label :name %> <br>
<%= f.text_field :name, required: true %>
<br>
<%= f.label :email %><br>
<%= f.email_field :email, required: true %>
<br>
<%= f.label :message %><br>
<%= f.text_area :message, as: :text  %>
<br>
<div class="hidden">
<%= f.label :nickname %><br>
<%= f.text_field :nickname, hint: 'leave this field blank' %>
</div>
<%= f.submit "Send message", class: "button" %>

<%end%>
</div> 

<!--   <p>В ресторант „Ханами” може да се потопите в елегантна и изтънчена обстановка характеризираща се със семплата и изчистена визия на японския стил. Кухнята е интернационална, а в менюто предлагаме кулинарни ястия от близо и далеч, като акцентираме на здравословната храна приготвена с любов. Специално селектираните вина и приготвени ястия съчетани с отличното обслужване са способни да накарат всеки клиент да се почувства специален. Ресторант „Ханами” е разположен в новата бизнес сграда на фирма „Датекс” в Дружба 1 на последния етаж с прекрасна гледка към Витоша. Ресторанта разполага с 180 седящи места и може да осигури провеждането на коктейли над 250 човека. Капацитета и обстановката на ресторанта го правят подходящо място за провеждане на сватбени тържества, коктейли, гала-вечери, банкети, семейни и фирмени тържества, сватби, рожденни дни.</p>
  </div> -->
  
<p>Ресторант ХАНАМИ</p><br/>
<h4>София, Дружба 1, ул. Датекс 4<br/>
тел.: 02 8165646/7/8</p><br/>
<p>Ресторант ДАТЕКС</h4><br/>
<h4>София, Цариградско шосе 115A<br/>
тел.: 02 8165764/5/6</h4><br/>
<a href="mailto:lfilipova@datecs.bg">lfilipova@datecs.bg</a><br/>
</div>
 
</div>
 <div class="col-md-3">
<iframe width="300" height="250" frameborder="0" scrolling="no" src="http://www.bgmaps.com/link/map/565cb0ddd2aaaf77389c09dce3ba914d"></iframe>

</div>
</div>
</div>
<!-- <div style="position:relative;">
  <div style="color:#black;background-color:#fff;text-align:center;padding:50px 80px;text-align: justify;">
    <p>Scroll up text 2.</p>
  </div>
</div> -->
<div style="display: none;">
  <p id="lamer_id"></p>
</div>

<div class="bgimg-1" id="last_element">
  <div class="caption">
   <!--  <span class="border">Restaurant</span> -->
  </div>
</div>

</body>
</html>
